<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learningtool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/learning_tools_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.GioHangActivity"></activity>
        <activity android:name=".activity.DetailProduct" />
        <activity android:name=".activity.ThongtinActivity" />
        <activity android:name=".activity.LienheActivity" />
        <activity android:name=".activity.ThuocActivity" />
        <activity android:name=".activity.HopbutActivity" />
        <activity android:name=".activity.ButActivity" />
        <activity android:name=".activity.SoVoActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>